@use 'mixins' as *;

@include b(color-picker) {
  padding: 1px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 4px;
  box-shadow:
    2px 2px 0 rgba(0,0,0,0.2),
    inset 1px 1px 0 rgba(255,255,255,0.5);
  background-color: transparent;
  transform: rotate(-1deg);
  @extend .rotate-and-scale;
  &:hover {
    box-shadow:
      3px 3px 0 rgba(0,0,0,0.2),
      inset 1px 1px 0 rgba(255,255,255,0.5);
  }
  &::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
  }
  &::-webkit-color-swatch {
    border: none;
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  }
}
