@use 'mixins' as *;

$icon: #{$namespace}-icon;

@include b(line-picker) {
  .#{$icon} {
    cursor: pointer;
    @extend .rotate-and-scale;
  }

  @include e(item) {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: space-a;
    &:hover {
      background-color: #f5f5f5;
    }
    & > span {
      width: 50px;
      font-size: 14px;
    }
    & > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      & > div {
        border-radius: 50%;
        background-color: red;
      }
    }
    @include when(active) {
      background-color: #f5f5f5;
    }
  }
}
