@use 'mixins' as *;

$icon: #{$namespace}-icon;

@include b(mode-picker) {
  .#{$icon} {
    cursor: pointer;
    @extend .rotate-and-scale;
  }

  @include e(item) {
    margin-top: 4px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: space-a;
    &:hover {
      background-color: #f5f5f5;
    }
    &:last-child {
      margin-bottom: 4px;
    }
    @include when(active) {
      background-color: #f5f5f5;
    }
  }
}
